@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to right, #ffffcc 0%, #ff99cc 100%); }

@keyframes "galeria" {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo {
  width: auto;
  height: 25px; }

.promociones {
  text-align: center;
  font-size: 15px;
  align-items: center; }

.imagenes-promo {
  width: 200px;
  height: 200px;
  border-radius: 45%; }

.titulo-galeria {
  font-size: 45px;
  text-align: center;
  padding-top: 15px;
  color: white;
  animation-name: galeria;
  animation-duration: 3s; }

.gallery img:hover {
  transform: scale(1.1); }

.gallery-item {
  height: 350px;
  width: 300px;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  max-width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  animation-name: imagenes;
  animation-duration: 3s; }

.nosotros {
  margin-top: 5%;
  align-items: center; }
  .nosotros h1 {
    font-size: 45px;
    margin-bottom: 60px;
    text-align: center; }

.nosotros-info {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  margin: auto; }

.titulo-nosotros {
  font-size: 45px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 10px;
  align-items: center; }

.parrafo-nosotros {
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex; }

.pa-nos {
  font-size: 25px; }

.equipo {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 60px; }
  .equipo .equipo-miembro {
    background: #f0cbf1;
    margin: 5px;
    margin-bottom: 50px;
    width: 400px;
    height: 400px;
    padding: 25px;
    line-height: 40px;
    color: #8e8b8b;
    position: relative; }
    .equipo .equipo-miembro h3 {
      color: violet;
      font-size: 30px;
      margin-top: 120px; }
    .equipo .equipo-miembro p.actividad {
      color: #af11a7;
      margin: 12px 0;
      font-size: 25px;
      text-transform: uppercase; }
    .equipo .equipo-miembro p {
      font-size: 30px; }
    .equipo .equipo-miembro .miembro-img {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 300px; }
      .equipo .equipo-miembro .miembro-img img {
        width: 190px;
        height: 190px;
        border-radius: 50%; }

#about {
  margin-bottom: 2px;
  margin-top: auto; }

.formulario {
  height: 490px;
  width: 390px;
  margin: auto;
  margin-top: 8%;
  background: #ccb2e4;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 5%;
  display: block; }

.contacto {
  color: #8d0076;
  text-align: center;
  margin: 0;
  font-size: 40px;
  margin-bottom: 40px; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  background-color: #ecd6ee; }

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  background-color: #ecd6ee;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background-color: #ecd6ee;
  color: black;
  padding: 10px; }
  #boton:hover {
    cursor: pointer; }

.blog-tiutlo {
  align-items: center;
  font-size: 45px;
  margin-top: 3%;
  text-align: center;
  color: violet; }

.posts {
  margin: auto;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  flex-wrap: wrap; }
  .posts h1 {
    margin: 25px 10px 15px; }

.post {
  width: 400px;
  height: 550px;
  background: #f1f1f1;
  margin: 20px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column; }
  .post img {
    width: 100%;
    height: 280px;
    object-fit: cover; }
  .post h2 {
    padding: 10px; }
  .post p {
    margin-bottom: 10px;
    text-align: justify;
    padding: 10px; }

.post-entrada {
  padding: 5px;
  text-decoration: none;
  color: black;
  right: auto; }

@media only screen and (max-width: 576px) {
  .posts {
    flex-direction: column;
    margin: 1%;
    max-width: 100%; }
  .post {
    width: 350px; }
  .formulario {
    min-height: 400px;
    max-height: 150px;
    max-width: 100%; }
  .nosotros-info {
    width: auto; } }
